@font-face {
  font-family: "Flaticon_new";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon_new";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon_new-"]:before, [class*=" flaticon_new-"]:before,
[class^="flaticon_new-"]:after, [class*=" flaticon_new-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flaticon_new-job-seeker:before {
    content: "\f101";
}
.flaticon_new-car-rounded-old-model:before {
    content: "\f102";
}
.flaticon_new-museum:before {
    content: "\f103";
}
.flaticon_new-index:before {
    content: "\f104";
}
.flaticon_new-hotel-bell:before {
    content: "\f105";
}
.flaticon_new-real-estate:before {
    content: "\f106";
}
.flaticon_new-social-care:before {
    content: "\f107";
}
.flaticon_new-verified-user:before {
    content: "\f108";
}
.flaticon_new-time-left:before {
    content: "\f109";
}
.flaticon_new-loupe:before {
    content: "\f10a";
}
.flaticon_new-bars:before {
    content: "\f10b";
}
